{% extends 'base.html' %}

{% block head %} 
<title>Rate My Professor Concensus Generator</title><!--Name of website at top -->
{% endblock %}

{% block body %} 

{% if page == "professor" or page == "/" %}
<div class = "content">
    <h1 style="text-align: center;">Rate My Professor Concensus Generator</h1>
    
    <div class="topButtons">
        <form action="/professor" method="post">
            <button type="submit">Professor</button>
        </form>
        <form action="/class" method="post">
            <button type="submit">Class</button>
        </form>
    </div>

    <div class="entryBox">
        <form action="/profName" method="post">
            <label for="profName">Prof. Name:</label>
            <input type="text" id="profName" name="profName" placeholder="e.g. John Doe" required>

            <label for="UniName">Uni. Name:</label>
            <input type="text" id="uniName" name="uniName" placeholder="e.g. McMaster University" required>

            <button type="submit" style="display:none"></button> <!--Invisible button that allows entering after pressing Enter to work-->
        </form>
    </div>

    <div class="concensusBox">
        <body>{{ concensus_text }}</body>
    </div>
</div>
{% endif %}

{% if page == "class" %}
<div class = "content">
    <h1 style="text-align: center;">Rate My Professor Concensus Generator</h1>
    
    <div class="topButtons">
        <form action="/professor" method="post">
            <button type="submit">Professor</button>
        </form>
        <form action="/class" method="post">
            <button type="submit">Class</button>
        </form>
    </div>

    <div class="entryBox">
        <form action="/className" method="post">
            <label for="className">Prof. Name:</label>
            <input type="text" id="className" name="className" placeholder="e.g. MATH 1ZC3" required>

            <label for="uniName">Uni. Name:</label>
            <input type="text" id="uniName" name="uniName" placeholder="e.g. McMaster University" required>

            <label for="deptName">Dept. Name:</label>
            <input type="text" id="deptName" name="deptName" placeholder="e.g. Biochemistry (as in RMP)" required>

             <button type="submit" style="display:none"></button> <!--Invisible button that allows entering after pressing Enter to work-->
        </form>
    </div>

    <div class="concensusBox">
        <body>{{ concensus_text }}</body>
    </div>
</div>
{% endif %}
{% endblock %}